*,
*::before,
*::after {
  box-sizing: border-box;
}

/* #region Base styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* #endregion */
/* #region Reset styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
address {
  font-style: normal;
}
/* #endregion */
/* #region Common styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* #endregion */
/* #region Header */
.header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: 0;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-items {
  padding: 24px 0;
}
.logo-darck {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.active {
  position: relative;
}
.nav-link.active,
.nav-link:focus,
.nav-link:hover {
  color: #404bbf;
}

.nav-link.active::after {
  position: absolute;
  bottom: -1px;
  right: 0;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-items {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.contacts-address {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-address:focus,
.contacts-address:hover {
  color: #404bbf;
}

/* #endregion */
/* #region Hero */
.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding-bottom: 188px;
  padding-top: 188px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}
.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: block;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  border: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:focus,
.order-button:hover {
  background-color: #404bbf;
}

/* #endregion */
/* #region Studio */
.studio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.studio-list {
  display: flex;
  gap: 24px;
}
.studio-list-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.studio-pic {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 112px;
  margin-bottom: 8px;
}

/* #endregion */
/* #region Team */
.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-items {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-items-descr {
  padding: 32px 0;
}
.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  color: #434455;
  text-align: center;
}
.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}
.social-items {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #f4f4fd;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
/* #endregion */
/*  #region Portfolio */
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-items {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-items:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-subtitle {
  text-align: left;
  margin-bottom: 8px;
}
.portfolio-text {
  text-align: center;
  text-align: left;
}
.border-container {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  z-index: 2;
}
.box {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.overlay-text {
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateX(0) translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover .overlay-text {
  transform: translatey(0);
}
/* #endregion */
/* #redion footer */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  gap: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text-left {
  color: #f4f4fd;
  width: 264px;
}
.footer-text-right {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}
.footer-social-list {
  gap: 16px;
}
.logo-light {
  color: #f4f4fd;
}
/* #endregion */
